@media only screen and (max-width:1058px) {
    .navbar {
        position: relative
    }
    .btn-nav {
        position: absolute;
        left: 22%;
    }
}

@media only screen and (max-width: 640px) {
    .mainmenu {
        display: none;
    }
    .btn-nav {
        left: 50%;
    }
}